/* Custom Font Faces */

@font-face {
  font-family: 'SenorSaturno';
  src: url('/fonts/SenorSaturno-Aw9g.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Undertale';
  src: url('/fonts/PixelOperator.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}