{% extends "admin/base_site.html" %}
{% load i18n %}

{% block title %}
    {{ title }} | {{ site_title|default:_("Django site admin") }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans "Home" %}</a> &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>

  {# app_list contains all installed apps that the user has permission to see #}
  {% if app_list %}
    <div id="container">
      {% for app in app_list %}
        <div class="app-content">
          <h2>
            <a href="{{ app.app_url }}">{{ app.name }}</a>
          </h2>
          
          {% if app.models %}
            <ul>
              {% for model in app.models %}
                <li>
                  <a href="{{ model.admin_url }}">{{ model.name }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>{% trans "You don't have permission to edit anything." %}</p>
  {% endif %}
{% endblock %}
